<freetrade-report-converter></freetrade-report-converter>

<article>
    <h1>Output Explanation</h1>
    <h2>Event</h2>
    <span>Possible values: Cash_In, Buy, Sell, Dividend</span>

    <h2>Date</h2>
    <span>Date when activity occured ('YYYY-MM-DD')</span>

    <h2>Currency</h2>
    <span>Currency associated with activity</span>

    <h2>FeeTax</h2>
    <span>For now always zero (not provided by FT)</span>

    <h2>Price</h2>
    <span>Price per share, 0 for Dividends</span>

    <h2>Quantity</h2>
    <span>Number of shares for Buy\Sell, Amount of money for Dividends</span>

    <h2>Symbol</h2>
    <span>Ticker when Buy\Sell, Currency for Cash_In</span>

</article>
