
<article class="intro">
  <img src="favicon.svg" class="logo"/> 
  <span>As FreeTrade do not provide good report, I've created this converter for all
  who need it.</span>
  <a href="https://www.buymeacoffee.com/lonlilokliV" target="_blank"
    ><img
      src="https://cdn.buymeacoffee.com/buttons/default-orange.png"
      alt="Buy Me A Coffee"
      height="41"
      width="174"
  /></a>
</article>

<freetrade-report-converter></freetrade-report-converter>

<a href="mailto:lonli.lokli@gmail.com?subject=Message from FreeTradePortfolioConverter" target="_blank" class="contact_form">Send e-mail</a>

<article>
  <h1>Output Explanation</h1>
  <h2>Event</h2>
  <span>Possible values: Cash_In, Cash_Out, Buy, Sell, Dividend</span>

  <h2>Date</h2>
  <span>Date when activity occured ('YYYY-MM-DD')</span>

  <h2>Currency</h2>
  <span>Currency associated with activity</span>

  <h2>FeeTax</h2>
  <span>For now always zero (not provided by FT)</span>

  <h2>Price</h2>
  <span>Price per share, 0 for Dividends</span>

  <h2>Quantity</h2>
  <span>Number of shares for Buy\Sell, Amount of money for Dividends</span>

  <h2>Symbol</h2>
  <span>Ticker when Buy\Sell, Currency for Cash_In\Cash_Out</span>
</article>
